* {
    box-sizing: border-box;
}

body,
html {
    margin: 0;
    font-family: sans-serif;
    height: 100%;
    background-color: transparent;
}
// body {
//     // background: linear-gradient(to bottom right, #00008B, #000000);
//     background-repeat: no-repeat;
//     background-attachment: fixed;
// }

#login-screen {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

img {
    height: 80px;
}

h1 {
    font-size: 5rem;
    color: #fff;
    font-family: sans-serif;
}

.main-head {
    display: flex;
    justify-content: center;
    // background-color: #008FE5;
    flex: 4;
    background: linear-gradient to right(45deg, #01A0FE);
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#008fe5+0,2989d8+50,207cca+51,01a0fe+100 */
    background: #008fe5;
    /* Old browsers */
    background: -moz-linear-gradient(45deg, #008fe5 0%, #2989d8 50%, #207cca 51%, #01a0fe 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, #008fe5 0%,#2989d8 50%,#207cca 51%,#01a0fe 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, #008fe5 0%,#2989d8 50%,#207cca 51%,#01a0fe 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=  '#008fe5', endColorstr='#01a0fe',GradientType=1 );
    /* IE6-9 fallback on horizontal gradient */
}

.bottom {
    display: flex;
    flex: 4;
    background-color: #000000;
    flex-direction: column;
    align-items: center;
    margin: 0 1rem;
}

#button-container {
    display: flex;
    background-color: #fff;
    align-items: center;
    align-self: stretch;
    margin-top: 80px;
    padding: 10px;
}

#under-container {
    display: flex;
    background-color: #01A0FE;
    align-self: stretch;
    padding: 20px;
    justify-content: flex-end;
}

#play_btn {
    margin-right: 200px;
    margin-top: 15px;
    height: 15px;
}

#get-started {
    color: #DEF6FF;
    font-family: sans-serif;
}

.bottom-header {
    display: flex;
    background: #000000;
    flex: 1;
    justify-content: center;
}

p {
    color: #5A5A5A;
}

#chat {
    margin: 20px;
}

.create-account {
    color: #C9C9C9;
    text-decoration: underline;
}

.input-container {
    display: flex;
    /*position: absolute;*/
    background-color: #000000;
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
    border: none;
    // background-repeat: no-repeat;
    // background-attachment: fixed;
}

#top-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #000000;
    top: 0;
    position: fixed;
    width: 100%;
    padding: 20px;
}

#play {
    height: 15px;
}

#dots {
    height: 40px;
}

#title-header {
    margin-left: 30px;
    color: #A2A2A2;
    font-size: 1rem;
}

#camera {
    height: 30px;
    // margin-left: 15px;
    margin-right: 10px;
}
// #send-button {
//     height: 80px;
//     border-radius: 50px;
//     margin-top: ;
//
//     background-color: #FEBDB7;
// }

#message-input {
    background: transparent;
    border: none;
    // box-sizing: border-box;
    // border: 1px solid #ccc;
    // border-radius: 20px;
    width: 100%;
    padding: 5px 70px;
}

::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #A2A2A2;
}

::-moz-placeholder {
    /* Firefox 19+ */
    color: #A2A2A2;
}

:-ms-input-placeholder {
    /* IE 10+ */
    color: #A2A2A2;
}

:-moz-placeholder {
    /* Firefox 18- */
    color: #A2A2A2;
}

.message-container:last-of-type {
    animation: new-message 300ms 50ms forwards;
}
@keyframes new-message {
    0% {
        opacity: 0;
        transform: translateY(100%);
    }

    95% {
        transform: translateY(-5px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

#chat-screen {
    display: none;
    min-height: 100vh;
    // background: linear-gradient to right(45deg, #01A0FE);
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#008fe5+0,2989d8+50,207cca+51,01a0fe+100 */
}

#chat-background {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background: #008fe5;
    /* Old browsers */
    background: -moz-linear-gradient(45deg, #008fe5 0%, #2989d8 50%, #207cca 51%, #01a0fe 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, #008fe5 0%,#2989d8 50%,#207cca 51%,#01a0fe 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, #008fe5 0%,#2989d8 50%,#207cca 51%,#01a0fe 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=  '#008fe5', endColorstr='#01a0fe',GradientType=1 );
    /* IE6-9 fallback on horizontal gradient */
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

#messages {
    margin-top: 80px;
}

.message-container {
    padding: 30px;
    display: flex;
    align-items: flex-start;
}

.user-photo {
    width: 60px;
    border-radius: 50px;
}

.text {
    margin-left: 30px;
    font-family: cursive;
}

.message,
.user-name {
    color: white;
    margin: 40px;
}

#login-btn,
#login-github,
#login-twitter {
    margin: 10px;
}
